<div *ngIf="!isLoggedIn()" class="flex flex-col space-y-10 justify-center max-w-screen-2xl mx-auto items-center">
  <div class="bg-white text-center w-96 shadow-xl rounded p-5 text-gray-700">
    <h2 class="text-2xl uppercase text-center">Jetzt anmelden</h2>
    <p class="text-sm text-center">Angebote erstellen, einsehen und annehmen.</p>

    <form class="space-y-5 mt-5" (submit)="login($event)">
      <input type="text" #username class="w-full h-12 border border-gray-800 rounded px-3" placeholder="Username" />
      <input type="password" #password class="h-12 w-full flex items-center border border-gray-800 rounded px-3" placeholder="Password" />
      <button type="submit" class="text-center w-full bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">Login</button>
    </form>
    <div class="w-full text-center mt-3">
    <a href="https://api.s1910456028.student.kwmhgb.at/wp-login.php" class="underline">Registrieren</a>
    </div>
  </div>
</div>
