<div class="flex justify-center divide-x-4 divide-white max-w-screen-2xl mx-auto mb-1">
  <a routerLink="home" routerLinkActive="active" class="active:bg-white active:text-gray-700 active:underline hover:border-gray-800 focus:bg-white focus:underline focus:text-gray-700 border-transparent text-lg p-4 duration-200 w-full text-center bg-gray-800 text-white hover:bg-transparent hover:text-gray-700">Home</a>
  <a routerLink="offers" routerLinkActive="active" class="active:bg-white active:text-gray-700 active:underline hover:border-gray-800 focus:bg-white focus:underline focus:text-gray-700 border-transparent text-lg p-4 duration-200 w-full text-center bg-gray-800 text-white hover:bg-transparent hover:text-gray-700">Angebote</a>
  <a *ngIf="isLoggedIn" routerLink="profile" routerLinkActive="active" class="active:bg-white active:text-gray-700 active:underline hover:border-gray-800 focus:bg-white focus:underline focus:text-gray-700 border-transparent text-lg p-4 duration-200 w-full text-center bg-gray-800 text-white hover:bg-transparent hover:text-gray-700">Profil</a>
  <a routerLink="login" *ngIf="!isLoggedIn" routerLinkActive="active" class="active:bg-white active:text-gray-700 active:underline hover:border-gray-800 focus:bg-white focus:underline focus:text-gray-700 border-transparent text-lg p-4 duration-200 w-full text-center bg-gray-800 text-white hover:bg-transparent hover:text-gray-700">Login</a>
</div>
  <div
    class="
          relative
          flex
          items-center
          justify-center
          h-64
          mx-auto
          overflow-hidden
          bg-center bg-no-repeat bg-cover
          max-w-screen-2xl
          mb-12
        "
    style="background-image: url(assets/images/studenten.jpeg)"
  >
    <h1 class="px-3 py-3 text-5xl font-light text-center bg-white text-gray-700">
      StudyBuddy
    </h1>
  </div>
  <router-outlet></router-outlet>
