<div class="focus:outline-none w-3/4 mx-auto text-center max-w-screen-2xl" *ngIf="loaded">
  <div class="text-center">
    <a routerLink="../new-offer" *ngIf="isLoggedIn" type="button" class="mb-12 text-center w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">Neues Angebot erstellen</a>
  </div>

  <div class="flex justify-end relative space-x-6 mb-12">
    <div>
      <button (click)="toggle()" type="button" class="group inline-flex justify-center text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
        Kategorie: {{categoryName}}
        <svg [ngClass]="{ '-rotate-90': !openTab }" class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      <div [ngClass]="openTab ? 'visible' : 'invisible'" class="absolute mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <button (click)="getInitState()" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Alle</button>
          <button (click)="getInitState('categories','7')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-0">Mathematik</button>
          <button (click)="getInitState('categories','8')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-1">Informatik</button>
          <button (click)="getInitState('categories','6')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-2">Englisch</button>
          <button (click)="getInitState('categories','5')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-5">Deutsch</button>
          <button (click)="getInitState('categories','9')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-4">Biologie</button>
        </div>
      </div>
    </div>
    <div>
      <button (click)="toggle('order')" type="button" class="group inline-flex justify-center text-gray-700 hover:text-gray-900" aria-expanded="false" aria-haspopup="true">
        Sortiert nach: {{sortName}}
        <!-- Heroicon name: solid/chevron-down -->
        <svg [ngClass]="{ '-rotate-90': !openOrderTab }" class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      <div [ngClass]="openOrderTab ? 'visible' : 'invisible'" class="absolute mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <button (click)="getInitState('orderby','date')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Datum</button>
          <button (click)="getInitState('orderby','author')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Ersteller:in</button>
        </div>
      </div>
    </div>
  </div>


  <div class="flex items-center justify-center flex-wrap">
    <div *ngFor="let offer of offerList" class="text-left focus:outline-none w-full lg:w-5/12 lg:mr-7 mb-7 bg-white p-6 shadow-lg rounded">
      <app-offer [offer]="offer" (deleteEvent)="getInitState()"></app-offer>
    </div>
  <button (click)="renderPagination()" *ngIf="totalPages != currentPage" class="w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">
    Weitere Angebote laden</button>
  </div>
</div>
-
