<div class="text-center" *ngIf="!loaded">
  <svg role="status" class="flex-1 w-20 h-20 inline mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
  </svg>
</div>
<div class="focus:outline-none w-3/4 mx-auto text-center max-w-screen-2xl" *ngIf="loaded">
  <div class="text-center">
    <a routerLink="../new-offer" *ngIf="isLoggedIn" type="button" class="mb-12 text-center w-full xl:w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">Neues Angebot erstellen</a>
  </div>

  <div class="flex justify-end relative space-x-6 mb-12">
    <div>
      <button (click)="toggle()" type="button" class="group inline-flex justify-center text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
        Kategorie: {{categoryName}}
        <svg [ngClass]="{ '-rotate-90': !openCategotyTab }" class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      <div [ngClass]="openCategotyTab ? 'visible' : 'invisible'" class="absolute mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <button (click)="getInitState()" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Alle</button>
          <button (click)="getInitState('categories','7')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-0">Mathematik</button>
          <button (click)="getInitState('categories','8')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-1">Informatik</button>
          <button (click)="getInitState('categories','6')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-2">Englisch</button>
          <button (click)="getInitState('categories','5')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-5">Deutsch</button>
          <button (click)="getInitState('categories','9')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1" id="menu-item-4">Biologie</button>
        </div>
      </div>
    </div>
    <div>
      <button (click)="toggle('order')" type="button" class="group inline-flex justify-center text-gray-700 hover:text-gray-900" aria-expanded="false" aria-haspopup="true">
        Sortiert nach: {{sortName}}
        <svg [ngClass]="{ '-rotate-90': !openOrderTab }" class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
      <div [ngClass]="openOrderTab ? 'visible' : 'invisible'" class="absolute mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <button (click)="getInitState('orderby','date')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Datum</button>
          <button (click)="getInitState('orderby','author')" class="text-gray-900 block px-4 py-2" role="menuitem" tabindex="-1">Ersteller:in</button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center flex-wrap">
    <div *ngFor="let offer of offerList" class="text-left focus:outline-none w-full lg:w-5/12 lg:mr-7 mb-7 bg-white p-6 shadow-lg rounded">
      <app-offer [offer]="offer" (deleteEvent)="getInitState()"></app-offer>
    </div>
</div>
  <button (click)="renderPagination()" *ngIf="totalPages != currentPage" class="my-6 w-full md:w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800">
    Weitere Angebote laden</button>
</div>

-
