<div class="container w-2/3 mx-auto" *ngIf="isLoggedIn()">
  <div class="text-center">
  <button type="button" class="text-center w-96 bg-gray-800 border border-gray-800 rounded text-white py-3 hover:bg-transparent duration-200 hover:text-gray-700 hover:border-gray-800" (click)="logout()">Logout</button>
  </div>
  <div class="flex mt-12 flex-wrap justify-center max-w-screen-2xl">
    <div class="w-1/3 md:mx-2 mb-12">
        <div class="image overflow-hidden mb-6">
          <img *ngIf="user.avatar_urls" class="mx-auto"
               src="{{user.avatar_urls[96]}}"
               alt="">
        </div>
        <ul
          class="bg-white text-gray-600 py-2 px-3 mt-3 divide-y rounded shadow-sm">
          <li class="flex items-center py-3">
            <span>Nickname</span>
            <span class="ml-auto"><span
              class="bg-gray-800 py-1 px-2 rounded text-white text-sm">{{user.slug}}</span></span>
          </li>
          <li class="flex items-center py-3">
            <span>Name</span>
            <span class="ml-auto">{{user.name}}</span>
          </li>
          <li class="flex items-center py-3">
            <span>ID</span>
            <span class="ml-auto">{{user.id}}</span>
          </li>
        </ul>
      </div>
      <!-- End of profile tab -->
  </div>
</div>

