<div class="xl:w-1/2 mx-auto" *ngIf="loaded && isLoggedIn">
  <div>
    <div>
      <div>
        <h2 *ngIf="!isUpdatingOffer" class="text-2xl text-center">Neues Angebot erstellen</h2>
        <h2 *ngIf="isUpdatingOffer" class="text-2xl text-center">Angebot bearbeiten</h2>
        <form [formGroup]="offerForm" (submit)="submitForm()">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 col-span-6 py-5 bg-white space-y-6 sm:p-6">
              <div>
                <label for="title" class="block text-sm font-medium text-gray-700"> Titel </label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input type="text" formControlName="title" name="title" id="title" class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full">
                  <div *ngIf="errors['title']" class="text-red-500 text-sm"> {{ errors['title'] }}</div>
                </div>
              </div>

              <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Beschreibung</label>
                <div class="mt-1">
                  <textarea id="description" formControlName="description" name="description" rows="3" class="p-2 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full border border-gray-300 rounded"></textarea>
                  <div *ngIf="errors['description']" class="text-red-500 text-sm"> {{ errors['description'] }}</div>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="subject" class="block text-sm font-medium text-gray-700">Fach</label>
                <select id="subject" (change)="onChange($event)" formControlName="subject" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option id="7" [selected]="offer.acf.subject === 'mathematik'">Mathematik</option>
                    <option id="6" [selected]="offer.acf.subject === 'englisch'">Englisch</option>
                    <option id="5" [selected]="offer.acf.subject === 'deutsch'">Deutsch</option>
                    <option id="8" [selected]="offer.acf.subject === 'informatik'">Informatik</option>
                    <option id="9" [selected]="offer.acf.subject === 'biologie'">Biologie</option>
                </select>
              </div>

              <fieldset>
                <div formArrayName="appointments">
                  <div *ngFor="let control of appointments.controls; let i = index; let l = last" formGroupName="{{i}}" class="flex items-center">
                    <label for="date" class="flex-shrink-0 mr-6">{{i+1}}. Termin</label>
                    <input type="date" id="date" formControlName="date" class="mr-2 mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <div *ngIf="errors['date']" class="text-red-500"> {{ errors['date'] }}</div>
                    <div *ngIf="l">
                      <button (click)="addAppointmentControl()" class="px-2 bg-gray-800 text-white duration-200 rounded bg-gray-800 hover:bg-white hover:text-gray-700 border hover:border-gray-800 ml-2 rounded text-lg" type="button">+</button>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div>
                <label for="phone" class="block text-sm font-medium text-gray-700"> Telefonnummer </label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input id="phone" formControlName="phone" type="text"  class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full">
                </div>
              </div>

              <div>
                <label for="email" class="block text-sm font-medium text-gray-700"> Email-Adresse</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input id="email" formControlName="email" type="text" class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full">
                </div>
              </div>

              <div class="px-4 py-3 text-center sm:px-6">
                <a (click)="stepBack()" class="xl:w-28 inline-block py-3 px-4 text-center text-white border border-transparent duration-200 rounded bg-gray-800 hover:bg-white hover:text-gray-700 hover:border-gray-800 cursor-pointer">Zurück</a>
                <button type="submit" [disabled]="offerForm.invalid && !isUpdatingOffer" class="disabled:opacity-50 xl:w-28 ml-12 py-3 px-4 text-center text-white border border-transparent duration-200 rounded enabled:cursor-pointer bg-gray-800 hover:enabled:text-gray-700 hover:enabled:bg-white hover:enabled:border-gray-800">Speichern</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


