<!--
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="w-1/2 mx-auto">
  <div>
  <div>
  <div>
    <h2 class="text-2xl text-center">Neues Angebot erstellen</h2>
    <form action="#" method="POST">
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 col-span-6 py-5 bg-white space-y-6 sm:p-6">
          <div>
              <label for="company-website" class="block text-sm font-medium text-gray-700"> Titel </label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <input type="text" #title name="company-website" id="company-website" class="p-2 border border-gray-300 rounded focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full">
          </div>
              </div>

          <div>
            <label for="about" class="block text-sm font-medium text-gray-700">Beschreibung</label>
            <div class="mt-1">
              <textarea id="about" #description name="about" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded"></textarea>
            </div>
          </div>

              <fieldset id="appointments">
                <label for="appointment_1" class="block text-sm font-medium text-gray-700">Bitte 3 mögliche Termine angeben</label>
                <input type="date" #appointment1 id="appointment_1" name="appointment" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <input type="date" #appointment2 id="appointment_2" name="appointment" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <input type="date" #appointment3 id="appointment_3" name="appointment" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              </fieldset>

          <div class="col-span-6 sm:col-span-3">
            <label for="country" class="block text-sm font-medium text-gray-700">Fach</label>
            <select id="country" #subject name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>Mathematik</option>
              <option>Englisch</option>
              <option>Deutsch</option>
              <option>Informatik</option>
            </select>
          </div>

<!--          <fieldset>-->
<!--            <div>-->
<!--              <legend class="text-base font-medium text-gray-900">Push Notifications</legend>-->
<!--              <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>-->
<!--            </div>-->
<!--            <div class="mt-4 space-y-4">-->
<!--              <div class="flex items-center">-->
<!--                <input id="push-everything" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">-->
<!--                <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Everything </label>-->
<!--              </div>-->
<!--              <div class="flex items-center">-->
<!--                <input id="push-email" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">-->
<!--                <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Same as email </label>-->
<!--              </div>-->
<!--              <div class="flex items-center">-->
<!--                <input id="push-nothing" name="push-notifications" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">-->
<!--                <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> No push notifications </label>-->
<!--              </div>-->
<!--            </div>-->
<!--          </fieldset>-->

<!--          <fieldset>-->
<!--            <legend class="text-base font-medium text-gray-900">By Email</legend>-->
<!--            <div class="mt-4 space-y-4">-->
<!--              <div class="flex items-start">-->
<!--                <div class="flex items-center h-5">-->
<!--                  <input id="comments" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">-->
<!--                </div>-->
<!--                <div class="ml-3 text-sm">-->
<!--                  <label for="comments" class="font-medium text-gray-700">Comments</label>-->
<!--                  <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="flex items-start">-->
<!--                <div class="flex items-center h-5">-->
<!--                  <input id="candidates" name="candidates" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">-->
<!--                </div>-->
<!--                <div class="ml-3 text-sm">-->
<!--                  <label for="candidates" class="font-medium text-gray-700">Candidates</label>-->
<!--                  <p class="text-gray-500">Get notified when a candidate applies for a job.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="flex items-start">-->
<!--                <div class="flex items-center h-5">-->
<!--                  <input id="offers" name="offers" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">-->
<!--                </div>-->
<!--                <div class="ml-3 text-sm">-->
<!--                  <label for="offers" class="font-medium text-gray-700">Offers</label>-->
<!--                  <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </fieldset>-->

        <div class="px-4 py-3 text-center sm:px-6">
          <button type="submit" (click)="saveOffer($event)" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
